# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

public/previews/*
src/content/blog/*
src/content/blog
.firebase
blog-7903f-firebase-adminsdk-tr6d9-b885388573.json