---
import { HeaderSign } from "@components/HeaderSign/HeaderSign";
import Container from "@components/Container/Container.astro";
import { API_ACTIVE, SITE } from "@consts";
---

<header class="fixed top-0 left-0 right-0 z-50 py-1 bg-stone-100/75 dark:bg-stone-900/25 backdrop-blur-sm saturate-200">
  <Container>
    <div class="flex items-center justify-between">
      <a href="/">
        <div class="flex items-center gap-2">
          <img src="/logo.svg" alt="Voib logo" class="w-6 mb-1" />
          {SITE.NAME}
        </div>
      </a>
      {API_ACTIVE && <HeaderSign client:only="react" />}
    </div>
  </Container>
</header>
