---
import { sharedClasses } from "@styles/sharedClasses";
---

<div id="signin-form" class="space-y-4">
  <div class="form-control">
    <label class="label">
      <span class={sharedClasses.inputLabel}>Email</span>
    </label>
    <input 
      type="email" 
      placeholder="tu@email.com" 
      class={sharedClasses.input}
    />
  </div>
  
  <div class="form-control">
    <label class="label">
      <span class={sharedClasses.inputLabel}>Contraseña</span>
    </label>
    <input 
      type="password" 
      placeholder="••••••••" 
      class={sharedClasses.input}
    />
    <label class="label">
      <a href="#" class="label-text-alt link link-hover text-stone-500 dark:text-stone-400 mt-1">¿Olvidaste tu contraseña?</a>
    </label>
  </div>
  
  <button class="btn btn-primary w-full bg-stone-800 hover:bg-stone-700 dark:bg-stone-200 dark:hover:bg-stone-300 dark:text-black text-white border-0">
    Iniciar Sesión
  </button>
</div> 